VITE_SUPABASE_URL=https://fpepssubvdaaqqjlzpef.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZwZXBzc3VidmRhYXFxamx6cGVmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODM1MDA5MzUsImV4cCI6MjA5OTA3NjkzNX0.A95ob2MX0NF00hX41o3wCB2MZCdqjqlVRNbK_ZSrgrc
VITE_API_URL=http://localhost:5000/api/v1